<%- include ("../../partials/header.ejs") %>
<%- include ("../../partials/navbar.ejs") %>

    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2>Edição de animais</h2>
            </div>
            <div class="card-body"></div>
            <form method="POST" action="/animais/update" enctype="multipart/form-data">
                <input class="form-control" type="text" name="nome" placeholder="Defina o Nome do Animal" value="<%= animal.nome %>"> <br>
                <textarea class="form-control" name="descricao" placeholder="Descreva o animal"><%= animal.descricao %></textarea> <br>
                <input class="form-control" type="text" name="imagem" placeholder="Nome do arquivo de imagem (opcional)" value="<%= animal.imagem %>"> <br>
                <input type="hidden" name="id" value="<%= animal.id %>">
                <button class="btn btn-success">Atualizar</button>
            </form>
        </div>
    </div>
</div>
<%- include ("../../partials/footer.ejs") %>
